[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The Go driver for MongoDB
[access "refs/*"]
	owner = group user/GerardoMoraS
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/GerardoMoraS
	label-Verified = -1..+1 group user/GerardoMoraS
	push = group user/GerardoMoraS
	read = group user/GerardoMoraS
	rebase = group user/GerardoMoraS
	removeReviewer = group user/GerardoMoraS
	submit = group user/GerardoMoraS
[access "refs/heads/*"]
	create = group user/GerardoMoraS
	push = +force group user/GerardoMoraS
	pushMerge = group user/GerardoMoraS
	read = group user/GerardoMoraS
[access "refs/tags/*"]
	push = group user/GerardoMoraS
	push = +force group user/GerardoMoraS
